/* ---------------------------------GENERAL STYLES------------------------------------------ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #FBF6F6;
  margin: 0%;
  padding: 0%;
}

::-webkit-input-placeholder {
  color: #000000 !important;
}

:-ms-input-placeholder {
  color: #000000 !important;
}

::-ms-input-placeholder {
  color: #000000 !important;
}

::placeholder {
  color: #000000 !important;
}

.color2 {
  color: #393939;
}

.color3 {
  color: #828282;
}

.color4 {
  color: #af1500;
  border-color: #af1500;
}

.color5 {
  color: #3C4B64;
}

.color6 {
  color: #61CC50;
}

/* -------------------------------------SEND CRYPTO PAGE STYLES-------------------------- */
.send-crypto-container {
  min-height: calc(100vh - 116px);
}

.info-container div h2 {
  line-height: 3;
  font-size: 24px;
}

.info-container div p {
  font-size: 14px;
}

.body .send-crypto-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .send-crypto-container .choose-token-container, .body .send-crypto-container .choose-recipient-container {
  height: 450px;
}

.token span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
}

footer .logo-cont {
  width: 150px;
}

.name {
  width: 70%;
  overflow-x: hidden;
}

/* ---------------------------------------DASHBOARD STYLES------------------------------ */
.db-header {
  height: 35vh;
}

.db-header .db-logo-div {
  background: url("/assets/header-Background.png");
  background-size: cover;
  height: calc(35vh - 45px);
}

.db-header .db-connection-bar {
  height: 45px;
  background-color: #1E2E4DCF;
}

.db-header .db-connection-bar .db-name-cont {
  border-radius: 20px;
}

.db-header .db-connection-bar .db-name-cont .connected {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #7EF192;
}

.transfer-text-header {
  color: #9CA7FF;
  font-size: 1.5rem;
}

.line-span {
  width: 70px;
  height: 1px;
  text-align: right;
  background-color: #FF7D00;
}

.az-blocks-logo-cont {
  margin-top: -10px;
}

.az-blocks-logo-cont img {
  width: 100px;
  height: 100px;
}

.ether-head-logo {
  width: 150px;
}

.main-container {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
}

.main-container .holders {
  height: 590px;
}

.main-container .success-declined {
  height: 550px;
  position: relative;
  top: 40px;
}

.your-wallet-cont .wallet-logo-cont {
  width: 40px;
  height: 40px !important;
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3C4B64;
  border-radius: 100%;
  padding: .5rem;
}

.your-wallet-cont .wallet-name-cont {
  width: 100%;
  height: 50px;
}

.your-wallet-cont .wallet-name-cont p {
  color: #3C4B64;
}

.avatar-cont {
  height: 220px;
}

.address-label {
  position: relative;
  left: 10px;
  border-bottom: 2px solid #8FFBFB;
}

.address-logo {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #E0EBFF;
}

.address {
  width: 100%;
  overflow: hidden;
}

.zk-token-cont {
  background-color: #E7ECFC;
}

.zk-token-cont p {
  color: #757F8C;
  text-indent: 10px;
}

.ro-online {
  position: relative;
  bottom: 10px;
  right: 7px;
}

.star {
  color: gold;
}

/* ------------ */
.online-line {
  border-bottom: 2px solid #FF7D00;
}

.offline-line {
  border-bottom: 2px solid #828282;
}

.offline {
  background-color: #828282;
}
/*# sourceMappingURL=style.css.map */